.cell {
    /* width: 9px;
    height: 9px;
    border: 1px solid black; */
    border: 1px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
  }
  
  .selected {
    background-color: #009dff45;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(var(--cols,10),35px);
    grid-template-rows: repeat(var(--rows,10),35px);
    gap: 2px;
  }
  button {
    margin: 8px;
    padding: 4px 8px;
  }